extends layout

block content
  div.row
    each card, index in cards
      div.col-4(id='card'+(index+1)+'_rws', style='vertical-align: center;')
        img.card(src='https://brackish.s3.us-west-1.amazonaws.com/'+card['decks']['rws']['image'], style='width: 100%;', id='img'+(index+1)+'_'+ card_tokens[index]+'_rws', 'card-token'=card_tokens[index])
        div.small(class='card-name')
          span= card['name'] + ' from '
          div(id='name'+(index+1), style='display: inline;') 
            a(href=decks['rws']['link'])= decks['rws']['nickname']

        div(id='info'+(index+1)+'_rws', class='card-info', 'data-next'='thoth', data-next-img='https://brackish.s3.us-west-1.amazonaws.com/'+ card['decks']['thoth']['image'], 'data-deck'=decks['rws']['nickname'], 'data-deck-link'=decks['rws']['link'])

        div(id='info'+(index+1)+'_thoth', class='card-info', 'data-next'='cbd', data-next-img='https://brackish.s3.us-west-1.amazonaws.com/'+ card['decks']['cbd']['image'], 'data-deck'=decks['thoth']['nickname'], 'data-deck-link'=decks['thoth']['link'])

        div(id='info'+(index+1)+'_cbd', class='card-info',   'data-next'='mary', data-next-img='https://brackish.s3.us-west-1.amazonaws.com/'+ card['decks']['mary']['image'], 'data-deck'=decks['cbd']['nickname'], 'data-deck-link'=decks['cbd']['link'])

        div(id='info'+(index+1)+'_mary', class='card-info',  'data-next'='brady', data-next-img='https://brackish.s3.us-west-1.amazonaws.com/'+ card['decks']['brady']['image'], 'data-deck'=decks['mary']['nickname'], 'data-deck-link'=decks['mary']['link'])

        div(id='info'+(index+1)+'_brady', class='card-info', 'data-next'='rws', data-next-img='https://brackish.s3.us-west-1.amazonaws.com/'+ card['decks']['rws']['image'], 'data-deck'=decks['brady']['nickname'], 'data-deck-link'=decks['brady']['link'])

block style
  style(type='text/css').
    .card-name {
      text-align: center; 
      padding: 4px; 
      color: #666;
    }
    .card-name a {
      color: #666;
      text-decoration: underline;
    }


block scripts
  script(type='text/javascript').
    $( document ).ready(function(){

      $('.card').click(function() {
        var card_data = this.id.split('_')
        var card_num  = card_data[0]
        var card_item = card_data[1]
        var card_deck = card_data[2]

        if (card_num == 'img1') {
          // Figure out the next card
          var next_deck = $('#info1'+'_'+card_deck).attr('data-next')
          var next_img  = $('#info1'+'_'+card_deck).attr('data-next-img')

          // Update the image
          $('#img1_'+card_item+'_'+card_deck).attr('src', next_img)
          $('#img1_'+card_item+'_'+card_deck).prop('id', 'img1_'+card_item+'_'+next_deck)

          // Update the name
          $('#name1').html("<a target='_blank' href='"+$('#info1_'+next_deck).attr('data-deck-link')+"'>"+$('#info1_'+next_deck).attr('data-deck')+"</a>")

        } else if (card_num == 'img2') {
          var next_deck = $('#info2'+'_'+card_deck).attr('data-next')
          var next_img  = $('#info2'+'_'+card_deck).attr('data-next-img')
          $('#img2_'+card_item+'_'+card_deck).attr('src', next_img)
          $('#img2_'+card_item+'_'+card_deck).prop('id', 'img2_'+card_item+'_'+next_deck)

          // Update the name
          $('#name2').html("<a target='_blank' href='"+$('#info2_'+next_deck).attr('data-deck-link')+"'>"+$('#info2_'+next_deck).attr('data-deck')+"</a>")

        } else if (card_num == 'img3') {
          var next_deck = $('#info3'+'_'+card_deck).attr('data-next')
          var next_img  = $('#info3'+'_'+card_deck).attr('data-next-img')
          $('#img3_'+card_item+'_'+card_deck).attr('src', next_img)
          $('#img3_'+card_item+'_'+card_deck).prop('id', 'img3_'+card_item+'_'+next_deck)

          // Update the name
          $('#name3').html("<a target='_blank' href='"+$('#info3_'+next_deck).attr('data-deck-link')+"'>"+$('#info3_'+next_deck).attr('data-deck')+"</a>")

        } else {
          window.alert(card_num)
        }
      })
    });