extends layout

block content
  div#spread(data-spread=spread)

  if questions && questions['question']
    h1
      = questions['question']
  if questions && questions['description']
    div= questions['description']

  div.row
    each card, index in cards
      - var order = (index*2)+1
      div(class='mt-4 col-12 col-md-4 order-'+order+' order-md-'+(index+1))
        div.back(id='back'+(index+1))
          if index == 0
            p 
              | ❤️ <strong>Personal:</strong> How I feel.
          else if index == 1
            p 
              | 👋 <strong>Social:</strong> How my relationships feel.
          else if index == 2
            p 
              | 🌎 <strong>External:</strong> How the world feels.

    each card, index in cards
      - var order = (index*2)+2
      - console.log(card_decks[index])
      div(class='col-12 col-md-4 order-'+order+' order-md-'+(index+4), id='card'+(index+1), style='vertical-align: center;')
        img.card(id='img'+(index+1), style='width: 100%; max-height: 90%;', src='https://brackish.s3.us-west-1.amazonaws.com/'+card['decks'][card_decks[index]]['image'])

        div.small(class='card-name')
          div(id='cname'+(index+1), style='display: inline;')= card['name'] + ' from '
          div(id='dname'+(index+1), style='display: inline;') 
            a(href=decks[card_decks[index]]['link'], target='_blank')= decks[card_decks[index]]['nickname']


  div.row
      div#button.col-12.small(style='margin-top: 50px; text-align: center;')
        a(href=spreads[spread]['current'], class='btn btn-outline-dark', style='text-align: center') Draw 3 new cards

block style
  style(type='text/css').
    .card-name {
      text-align: center; 
      padding: 8px; 
      color: #666;
    }
    .card-name a {
      color: #666;
      text-decoration: underline;
    }