html, body {
  width: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'HarmoneuxRegular', serif;
}
div, p {
  font-family: 'Recoleta-Regular', serif;
}
div.sans-serif, div.small {
  font-family: 'Source Sans Pro', sans-serif;
}
